
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    position: fixed;
    height: 30px;
    background-color: #4267B2;
  }
  footer ul.footerleft{
      margin-left: 150px;
      margin-top: 10px;
  }
  footer ul.footerleft li{
      display: inline;
      margin-right: 25px;
  }
  footer a{
      color: #222;
  }
  
  footer a:hover{
      color: #ffffff;
      text-decoration: none;    
  }
  .social:hover {
       -webkit-transform: scale(1.0);
       -webkit-transition-duration: 0.5s;
   }
   .social {
       -webkit-transform: scale(0.8);
       color: #222;
       
   }
   .love {
       color: red;
   }