<section class="hero is-info is-larger">
    <div class="hero-head">
      <nav class="navbar">
        <div class="container">
          <div class="navbar-brand">
            <a class="navbar-item">
              <img src="./assets/Bigdata.png" alt="Logo" width="160px">
            </a>
            <span class="navbar-burger burger" data-target="navbarMenuHeroB">
              <span></span>
              <span></span>
              <span></span>
            </span>
          </div>
          <div id="navbarMenuHeroB" class="navbar-menu">
            <div class="navbar-end">
              <a class="navbar-item " routerLink="Home" routerLinkActive="is-active">
                Acceuil
              </a>
              <a class="navbar-item" routerLink="News" routerLinkActive="is-active"> 
                News
              </a>
              <a class="navbar-item"routerLink="Gallerie" routerLinkActive="is-active">
                Gallery
              </a>
              <a class="navbar-item" routerLink="Contact" routerLinkActive="is-active">
                Contact
              </a>
              <a class="navbar-item" routerLink="Aboutus" routerLinkActive="is-active">
                A propre de nous
              </a>
     
            </div>
          </div>
        </div>
      </nav>
    </div>

<router-outlet></router-outlet>

    <footer class="footer">
        <nav class="navbar navbar-default navbar-custom">
            <div class="container-fluid">
                <div class="nav navbar-nav navbar-left">
                    <ul class="footerleft">
                        <li>
                            <a href="">News</a>                   
                        </li>
                        <li>
                            <a href="">Contact</a>                    
                        </li>
                        <li>
                            <a href="">A propre de nous</a>
                        </li>
                    </ul>
                </div>

                <div class="text-center center-block">
                    <a href=""><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
                    <a href=""><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
                    <a href=""><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
                    <a href=""><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
                </div>
                <div class="nav navbar-nav navbar-right">
                <ul>
                    <li>
                        <a href="">Ihec Carthage</a>
                    </li>
                    <li>
                        <a href="">What is Big Data</a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/dddd.dd2231"> &copy; Salem made with <span class="love">&#10084;</span></a>
                    </li>
                </ul>
            </div>

            </div>
            
        </nav>
    </footer>